<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <% if @product.product_discount > 0 %>
                        <div class="ribbon ribbon-top-left"><span>Sale <%= number_to_percentage(@product.product_discount, precision: 0) %></span></div>
                    <% end %>
                    <%= image_tag @product.product_images.find_by(is_default: true).image_url, class: 'card-img img-fluid', alt: @product.product_name, id: 'product-detail' %>
                </div>
                <div class="row pt-5">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">
                            <% offset = 3 %>
                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <% @product.product_images.where(is_default: false).limit(3).each do |product_image| %>
                                        <div class="col-4">
                                            <a href="#">
                                                <%= image_tag product_image.image_url, class: 'card-img img-fluid border-img', alt: @product.product_name %>
                                            </a>
                                        </div>                                   
                                    <% end %>                                   
                                </div>
                            </div>
                            <!--/.First slide-->
                            <% while @product.product_images.where(is_default: false).count - offset > 0 do %>
                                <div class="carousel-item">
                                    <div class="row">
                                        <% @product.product_images.where(is_default: false).offset(offset).limit(3).each do |product_image| %>
                                            <div class="col-4">
                                                <a href="#">
                                                    <%= image_tag product_image.image_url, class: 'card-img img-fluid border-img', alt: @product.product_name %>
                                                </a>
                                            </div>                                   
                                        <% end %>
                                        <% offset += 3 %>                               
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2 font-weight-400"><%= @product.product_name %></h1>
                        <p class="h3"><%= number_to_currency(@product.sell_price * (1 - @product.product_discount / 100), precision: 0, unit: 'VND', format: '%n %u') %>
                            <% unless @product.product_discount == 0 %>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<s class="text-muted"><%= number_to_currency(@product.sell_price, precision: 0, unit: 'VND', format: '%n %u') %></s>
                            <% end %>
                        </p>
                        <p>
                            <label id="product-star-rate" class="position-relative">
                                <% index = 0 %>
                                <% @product.score_rating.to_i.times do %>
                                    <i id="product-star-rate-<%= index %>" class="text-warning fa fa-star"></i>
                                    <% index += 1 %>            
                                <% end %>            
                                <% if @product.score_rating - @product.score_rating.to_i >= 0.5 %>
                                    <i id="product-star-rate-<%= index %>" class="text-warning fa fa-star-half star-half-decoration"></i> 
                                    <% index += 1 %>        
                                <% end %>
                                <% (5- @product.score_rating.to_i).times do %>
                                    <i id="product-star-rate-<%= index %>" class="text-muted fa fa-star"></i>   
                                    <% index += 1 %>
                                <% end %>
                            </label>
                            <span id="rate" class="list-inline-item text-dark mx-0">Rating <%= number_with_precision(@product.score_rating, precision: 1) %> (<%= @product.number_of_rates %> rates) | <%= @product.comments.count %> Comments</span>
                            
                            <% if user_signed_in? %>
                                | Your rating                                 
                                <% user_review = @reviews.nil? ? nil : @reviews.find_by(user_id: current_user.id, product_id: @product.id) %>  
                                <% user_score_rating = user_review.nil? ? 0 : user_review.user_score_rating.to_i%>  
                                <input type="hidden" id="star-rate" value="<%= user_score_rating < 1 ? 0 : user_score_rating - 1 %>">                        
                                <label onmouseout="out_animation_rating()">                                                                     
                                    <% user_score_rating.times do |i| %>
                                        <a class="cursor-pointer" onclick="rating('<%= @product.id %>', '<%= i + 1 %>')"><i onmouseover="animation_rating(this)" id="star-rate-<%= i %>" class="text-warning fa fa-star"></i></a>      
                                    <% end %>
                                    <% (5- user_score_rating).times do |i| %>
                                        <a class="cursor-pointer" onclick="rating('<%= @product.id %>', '<%= i + 1 + user_score_rating %>')"><i onmouseover="animation_rating(this)" id="star-rate-<%= i + user_score_rating %>" class="text-muted fa fa-star"></i></a>      
                                    <% end %>
                                </label>
                            <% end %>                       
                        </p>
                        <h5 class="font-weight-400">Description:</h5>
                        <p><%= @product.description %></p>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Brand:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @supplier.supplier_name %></strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Category:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @category.category_name %></strong></p>
                                    </li>
                                </ul>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Origin:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @product.origin %></strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Age:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @age.age_name %></strong></p>
                                    </li>
                                </ul>                           
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Warranty:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @product.warranty > 0 ? @product.warranty.to_s + ' months' : 'No warranty' %></strong></p>
                                    </li>
                                </ul>                            
                            </div>
                            <div class="col-6">
                                <ul class="list-inline margin-bottom-0-rem">
                                    <li class="list-inline-item">
                                        <h5 class="font-weight-400">Gender:</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-secondary"><strong><%= @product.gender ? 'Male' : 'Female' %></strong></p>
                                    </li>
                                </ul>                           
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h5 class="font-weight-400">Available:</h5>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-secondary"><strong><%= @product.is_available ? 'Stocking' : 'Out of stock' %></strong></p>
                            </li>
                        </ul>

                        <div>
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">Color:
                                            <input type="hidden" name="color" id="color" value="">
                                        </li>
                                        <% @product.inventories.where('quantity_of_inventory > 0').pluck(:color_url).uniq.each do |item| %>
                                            <li class="list-inline-item"><a name="color-image-item" class="cursor-pointer d-block" onclick="active_color_image_item(this, '<%= @product.id %>')"><%= image_tag item, class: 'item-img img-fluid border-img-color', alt: @product.product_name %></a></li>
                                        <% end %>                                      
                                    </ul>
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">Size:&nbsp;&nbsp;
                                            <input type="hidden" name="size" id="size" value="">
                                        </li>
                                        <% @product.inventories.where('quantity_of_inventory > 0').order(size: :ASC).pluck(:size).uniq.each do |item| %>
                                            <li class="list-inline-item"><a name="size-item" class="btn btn-success btn-size" onclick="active_size_item(this, '<%= @product.id %>')"><span><%= item %></a></span></li>
                                        <% end %>                                      
                                    </ul>
                                </div>
                            </div>
                            <div id="quantity" class="row" hidden>
                                <ul class="list-inline pb-3 col-5">
                                    <li class="list-inline-item text-right">
                                        Quantity:
                                        <input type="hidden" name="product-quanity" id="product-quantity" value="1">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>                  
                                </ul>
                                <div class="col-7">
                                    <li class="list-inline-item">In stock: <span id="quantity-in-stock">0</span> products.</li>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="mx-auto col-6 d-grid">
                                
                                <% if user_signed_in? && !@product.reviews.find_by(user_id: current_user.id).nil? %>
                                    <button class="btn btn-lg <%= @product.reviews.find_by(user_id: current_user.id).is_favored ? 'btn-secondary' : 'btn-success' %>" id="btn-favorite" onclick="products_favorite('<%= @product.id %>')"><%= @product.reviews.find_by(user_id: current_user.id).is_favored ? 'Unfavored' : 'Favorite' %></button>
                                <% else %>
                                    <button class="btn btn-success btn-lg" id="btn-favorite" onclick="products_favorite('<%= @product.id %>')">Favorite</button>
                                <% end %>                                                             
                                </div>
                                <div class="mx-auto col-6 d-grid">
                                    <button class="btn btn-success btn-lg" id="add-to-cart" disabled onclick="add_to_cart('<%= @product.id %>')">Add To Cart</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container py-3">
        <div class="row py-3">
            <h1 class="h2 font-weight-400"><%= @product.comments.count %> comments</h1>
        </div>
        <% if user_signed_in? %>
            <div class="input-group mb-4 separated-comment pb-3">
                <input id="input-comment" type="text" class="form-control" placeholder="Write your comment...">
                <a class="btn btn-success" onclick="post_comment('<%= @product.id %>')">Post</a>
            </div>
        <% else %>  
            <div class="text-center my-4">
                <a class="btn btn-success" onclick="open_sign_in()">Sign in to write your comment</a>
            </div>
        <% end %>
        <div id="comments">
            <%= render partial: 'layouts/partials/comment', collection: @comments, as: :comment, locals: { reviews: @reviews } %>
        </div>
        <% if @is_show_more %>
            <div class="text-center">
                <a id="show-more" class="btn btn-success" onclick="show_more('<%= @product.id %>')">Show more</a>
            </div>
        <% end %>
    </div>
</section>
<!-- Close Content -->
<%= javascript_include_tag 'ajax_single_product', 'data-turbolinks-track': 'load' %>
<%= javascript_include_tag 'ajax_reviews', 'data-turbolinks-track': 'load' %>