<!-- Start Advertising Product -->
<div class="row">
    <% @products.each do |product| %>
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <%= link_to image_tag( product.product_images.find_by(is_default: true).image_url, class: 'card-img-top', alt: product.product_name), home_index_path %>
                <div class="card-body">
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                        <li class="text-muted text-right">$<%= product.sell_price %></li>
                    </ul>
                    <%= link_to product.product_name, home_index_path %>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                    <p class="text-muted">Comments (<%= product.comments.count %>)</p>
                </div>
            </div>
        </div>
    <% end %>
</div>
<!-- End Advertising Product -->