<!-- Start Advertising Product -->
<div class="col-12 col-md-4 mb-4">
    <div class="card h-100">       
        <% if product.product_discount > 0 %>
            <div class="ribbon ribbon-top-right"><span>Sale <%= number_to_percentage(product.product_discount, precision: 0) %></span></div>
        <% end %>
        <%= link_to image_tag( product.product_images.find_by(is_default: true).image_url, class: 'card-img-top', alt: product.product_name),  '/products/'+product.meta_title %>
        <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="position-relative">
                    <% product.score_rating.to_i.times do %>
                        <i class="text-warning fa fa-star"></i>              
                    <% end %>            
                    <% if product.score_rating - product.score_rating.to_i >= 0.5 %>
                        <i class="text-warning fa fa-star-half star-half-decoration"></i>    
                    <% end %>
                    <% (5- product.score_rating.to_i).times do %>
                        <i class="text-muted fa fa-star"></i>   
                    <% end %>
                </li>
                <li class="text-right">
                    <%= number_to_currency(product.sell_price * (1 - product.product_discount / 100), precision: 0, unit: 'VND', format: '%n %u') %>           
                    <% unless product.product_discount == 0 %>
                        &nbsp;&nbsp;&nbsp;<s class="text-muted"><%= number_to_currency(product.sell_price, precision: 0, unit: 'VND', format: '%n %u') %></s>
                    <% end %>           
                </li>
            </ul>
            <%= link_to product.product_name, home_index_path, class: 'h2 text-decoration-none text-dark' %>
            <p class="card-text">
                <%= product.description %>
            </p>
            <p class="text-muted">Comments (<%= product.comments.count %>)</p>
        </div>
    </div>
</div>
<!-- End Advertising Product -->