<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <%= image_tag 'banner_img_01.jpg', class: 'img-fluid', alt: 'banner_img_01.jpg' %>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Yolo shop</b> eCommerce</h1>
                            <h3 class="h2">Tiny and Perfect eCommerce Shop</h3>
                            <p>
                                Online shopping for retail sales direct to consumers via <%= link_to 'Web sites', '#', rel: 'sponsored', class: 'text-success' %> and conversational commerce via <%= link_to 'live chat', '#', rel: 'sponsored', class: 'text-success' %>.
                                Providing or participating in online marketplaces, which process third-party business-to-consumer <%= link_to '(B2C)', '#', rel: 'sponsored', class: 'text-success' %> or consumer-to-consumer <%= link_to '(C2C)', '#', rel: 'sponsored', class: 'text-success' %> sales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <%= image_tag 'banner_img_02.jpg', class: 'img-fluid', alt: 'banner_img_02.jpg' %>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Our slogan</h1>
                            <h3 class="h2">eCommerce slogans</h3>
                            <p>
                                "The World's Most <strong>Comfortable Shoes</strong>".</br>
                                We use natural materials to make our shoes and place a heavy emphasis on being eco-friendly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <%= image_tag 'banner_img_03.jpg', class: 'img-fluid', alt: 'banner_img_03.jpg' %>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Shop's products</h1>
                            <h3 class="h2">Variety of products</h3>
                            <p>                              
                                We bring you the most beautiful and comfortable shoes. 
                                <%= link_to 'See their information', shop_index_path, rel: 'sponsored', class: 'text-success' %> on this website. You can <%= link_to 'create an account', shop_index_path, rel: 'sponsored', class: 'text-success' %> to place an order. 
                                Thank you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->