<div class="d-block separated-comment pb-3 mb-3">
    <div class="row pb-2">
        <div class="col-1">
            <%= image_tag comment.user.avatar_url, class: 'rounded-circle img-fluid border avatar-comment-img' %>
        </div>
        <div class="col-11">
            <div class="row pt-2">
                <label>
                    <strong><%= (comment.user.first_name + ' ' + comment.user.last_name).strip %></strong>&nbsp;&nbsp;&nbsp;
                    <% review = reviews.find_by(user_id: comment.user_id) %>
                    <% unless review.nil? %>
                        <% user_score_rating = review.user_score_rating.to_i %>
                        <% user_score_rating.times do |i| %>
                            <i name="star-rate-<%= comment.user.id %>-<%= i %>" class="text-warning fa fa-star"></i>              
                        <% end %>            
                        <% (5- user_score_rating).times do |i| %>
                            <i name="star-rate-<%= comment.user.id %>-<%= i + user_score_rating %>" class="text-muted fa fa-star"></i>   
                        <% end %>
                    <% end %>                
                </label>
            </div>
            <div class="row">
                <label><%= comment.created_at.strftime('%d-%m-%Y %I:%M:%S %p') %></label>
            </div>
            <div class="row">
                <label><%= comment.content %></label>
            </div>
        </div>
    </div>
</div>
