<div id="favorite-item-<%= item.product_id %>" class="row px-3">
    <a class="col-md-10 row text-decoration-none" href="/products/<%= item.product.meta_title %>">
        <div class="col-md-4">
            <img class="item-cart-img mb-2" src="<%= item.product.product_images.find_by(is_default: true).image_url %>" alt="<%= item.product.product_name %>" />
        </div>
        <div class="col-md-8 text-center my-auto">
            <span class="text-dark d-block font-size-1-1-rem"><%= item.product.product_name %></span>
        </div>
    </a> 
    <div class="col-md-2 my-auto">
        <button class="btn btn-danger" type="button" onclick="products_favorite('<%= item.product_id %>');open_dropdown_without_preventDefault(event);"><i class="fa faw fa-times text-white"></i></button>
    </div>
    <hr class="text-success my-0 mb-2 px-5" />
</div>
