<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Yolo Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <%= link_to 'HCMC National University Dormitory Zone B', 'https://www.google.com/maps/place/K%C3%BD+t%C3%BAc+x%C3%A1+Khu+B+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+TP.HCM/@10.8820431,106.7825789,15z/data=!4m5!3m4!1s0x0:0x54542761d4c22175!8m2!3d10.8820431!4d106.7825789', class: 'text-decoration-none', target: '_blank' %>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:0898759325">0898-759-325</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:phamhunggl721@gmail.com">phamhunggl721@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">              
                    <li><%= link_to 'Coupons', coupons_path, class: 'text-decoration-none' %></li>
                    <li><%= link_to 'Men\'s Shoes', shop_index_path, class: 'text-decoration-none' %></li>
                    <li><%= link_to 'Women\'s Shoes', shop_index_path, class: 'text-decoration-none' %></li>
                    <li><%= link_to 'Kid\'s Shoes', shop_index_path, class: 'text-decoration-none' %></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><%= link_to 'Home', home_index_path, class: 'text-decoration-none' %></li>
                    <li><%= link_to 'About Us', about_index_path, class: 'text-decoration-none' %></li>
                    <li><%= link_to 'Shop Locations', 'https://www.google.com/maps/place/K%C3%BD+t%C3%BAc+x%C3%A1+Khu+B+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+TP.HCM/@10.8820431,106.7803902,17z/data=!3m1!4b1!4m5!3m4!1s0x3174d89aad780e49:0x54542761d4c22175!8m2!3d10.8820431!4d106.7825789?hl=vi-VN', class: 'text-decoration-none', target: '_blank' %></li>
                    <li><%= link_to 'FAQs', '#', class: 'text-decoration-none' %></li>
                    <li><%= link_to 'Contact', contact_index_path, class: 'text-decoration-none' %></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/kunn.ngoc.5/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/_hiiamh/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/phamhung250301"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/phamhung2503/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light text-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2022 Yolo Shop
                        | Designed by <%= link_to 'Phạm Hùng', 'https://www.facebook.com/kunn.ngoc.5/', rel: 'sponsored', class: 'text-success text-decoration-none' %> with <i class="far fa-heart text-success"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->