<div class="shadow-sm p-4 bg-white pb-3">
    <h2 class="h2"><i class="fa fa-faw fa-cart-arrow-down"></i>&nbsp;&nbsp;&nbsp;Your cart</h2>
    <hr class="text-success">
    <div id="checkout-table">
        <% if carts.count == 0 %>
            <label class="text-center w-100">Your cart is empty.</label>
        <% else %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produc name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col" class="w-0"></th>
                    </tr>
                </thead>
                <tbody>                
                    <% carts.each_with_index do |item, index| %>
                        <tr id="checkout-item-<%= item.inventory_id %>">
                            <th class="tr-text-center" scope="row"><%= index + 1 %></th>
                            <td class="tr-text-center"><%= link_to item.inventory.product.product_name, "/products/#{item.inventory.product.meta_title}", class: 'text-decoration-none text-success' %></td>
                            <td class="tr-text-center"><%= item.inventory.size %></td>
                            <td><%= image_tag item.inventory.color_url, class: 'item-img' %></td>
                            <td class="tr-text-center">$<%= item.inventory.product.sell_price * (1 - item.inventory.product.product_discount/100) %></td>
                            <td class="tr-text-center"><input id="cart-quantity-<%= item.inventory_id %>" onchange="update_quantity('<%= item.inventory_id %>')" class="w-60-px border-0" type="number"  min="1" max="<%= inventories.find(item.inventory_id).quantity_of_inventory %>" value="<%= item.quantity %>"></td>
                            <td id="item-total-<%= item.inventory_id %>" class="tr-text-center">$<%= item.inventory.product.sell_price * (1 - item.inventory.product.product_discount/100) * item.quantity %></td>
                            <td><a class="btn btn-danger" onclick="remove_from_cart('<%= item.inventory.product_id %>', '<%= item.inventory.size %>', '<%= item.inventory.color_url %>')"><i class="fa fa-faw fa-trash-alt"></i></a></td>
                        </tr> 
                    <% end %>        
                </tbody>
                <tfoot class="border-bottom-0">
                    <tr class="tr-border-transparent">
                        <td colspan="5"></td>
                        <td>Total:</td>
                        <td id="checkout-cart-total">$<%= session[:total_cart] %></td>
                    </tr>
                </tfoot>
            </table>
        <% end %>  
    </div>
    <div class="text-end">
            <a href="<%= shop_index_path %>" class="btn btn-secondary text-white"><i class="fa fa-faw fa-arrow-left"></i> Continue shopping</a>         
            <% unless carts.count == 0 %>
                <a id="proceed-to-checkout" onclick="proceed_to_checkout()" class="btn btn-success text-white">Proceed to checkout</a>
            <% end %>
    </div>
</div>