<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yolo Shop - eCommerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('YoloShop-eCommerce-logo.ico') %>

    <!-- Start CSS -->
    <%= stylesheet_link_tag 'bootstrap.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'autoComplete.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'templatemo.min', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', 'data-turbo-track': 'reload' %>

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <%= stylesheet_link_tag 'fontawesome.min', 'data-turbo-track': 'reload' %>
    <!-- End CSS -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true, 'type': 'module' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/preloader' %>
    <%= render partial: 'layouts/partials/top_nav' %>
    <%= render partial: 'layouts/partials/header' %>
    <%= render partial: 'layouts/partials/sign_in' %>
    <%= render partial: 'layouts/partials/notice_alert_devise' %>
    <%= yield %>

    <%= render partial: 'layouts/partials/footer' %>

    <!-- Start Script -->
    <%= javascript_include_tag 'jquery-1.11.0.min', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'jquery-migrate-1.2.1.min', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'autoComplete.min', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'templatemo.min', 'data-turbolinks-track': 'load' %>
    <script>
      var product_names = <%= @product_names %>
    </script>
    <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'load' %>
    <!-- End Script -->
    <% if current_user.nil? %>
      <script type="text/javascript">
          $(window).on('load', function() {
            if(window.location.pathname == '/home' || window.location.pathname == '/' || window.location.pathname == '/home/index'){
              $('#sign-in').modal('show');
            }
          });
      </script>
    <% end %>
  </body>
</html>
